.form {
  padding: 15px;
  width: 320px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}

.button {
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  min-width: 180px;
  border-radius: 3px;
  border-style: none;

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
}

.button:hover,
.button:focus {
  background-color: #b177d7;
}
