.container {
  padding: 30px 20px 30px 20px;
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: aliceblue;
  border-bottom: 3px solid black;
  margin-bottom: 50px;
}

.title {
  display: block;
  position: absolute;
  right: 45%;
}
